.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.btn{
    padding: 15px 25px;
    border: 0;
    background-color: darkblue;
    color: #f3f3f3;
    margin: 15px auto;
}